.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }


.header {
    height: 96px;
    background-color: #3AC569;
}

.create-event-title {
    font-size: 57px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 80px;
    margin-top: 120px;
    background-color: white;
}

.create-event-meta {
    background-color: #F8F9FA;
    font-size: 20px;
}

.create-event-meta label {
    padding-top: 73px;
    font-size: 20px;
}

.create-event-meta .form-control {
	height: 40px;
        width: 724px;
        border-radius: 2px; 
        background-color: #FFFFFF;
        box-shadow: 0 0 8px 0 rgba(0,0,0,0.12);
}

.create-event-meta input {
    background-color:rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.12);
    outline:none;
    height:30px;
    transition:height 1s;
    -webkit-transition:height 1s;
}

.event-detail-bg {
    height: 264px;
    background-image: url("/image2x.png");
}

.event-detail-bg h3 {
    font-family: Roboto;
    font-size: 24px;
    line-height: 32px;
    padding-top: 60px;
}

.event-detail-bg h3, .event-detail-bg h1, .event-detail-bg h5 {
    margin: 0;
    padding-left: 50px;
    color: #FFFFFF;
}

.event-detail-bg h5 {
    font-size: 20px;
    line-height: 32px;
    margin-top: 30px;
}

.day-block {
    border: 1px solid #E5E5E5;
    border-radius: 3px 3px 0 0;
    background-color: #FFFFFF;
    height: 72px;
}

.day-block-list:first-child {
    margin-top: 50px;
}

.internal-blk {
    margin-top: 25px;
}

.internal-blk.day {
    font-size: 20px;
}

.internal-blk.steps, .internal-blk.raised{
    color: #79808A;
    font-family: Roboto;
    font-size: 16px;
    line-height: 32px;
}

.internal-blk.raised{
    color: #F9C00C;
    font-size: 20px;
    font-weight: 500;
    color: black;
}

.internal-blk.notstarted{
    color: #79808A;
}

.dollar {
    color: #F9C00C;
}

.detail-right {
    background-color: #F8F9FA;
    height: 430px;
    margin-top: 50px;
}

.detail-donate {
    text-align: center;
}

.detail-donate button {
    width: 190px;
    margin-top: 30px;t
}

.detail-supporter-list {
    height: 96px;
    background-color: white;
    padding-top: 15px;
}

.detail-supporter {
    margin-left: 10px;
    margin-right: 10px;
}

.detail-supporter-list-title {
    font-size: 20px;
    font-weight: 500;
}
