<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div>Start a StepUp Campaign</div>

<div>Select your cause</div>

<div>Select a Challenge</div>

<div>Connect your FitBit</div>

<div>Name your challenge</div>

<div>Start Challenge</div>

</body>
</html>
