<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script type="text/javascript">
  function onVisaCheckoutReady(){
    V.init( {
    apikey: "4Y0U2YEDFZXVTDIF46ZI21IRTjwp1vU9c8STufbZMzqRXVH2k",
    settings: {
      displayName: "StepUp",
      shipping: {
        collectShipping: false
      }
    },
    paymentRequest:{
      currencyCode: "USD",
      subtotal: "10.00",
      total: "10.00",
      description: "Donation"
    }
    });
    V.on("payment.success", function(payment) {
        $(function() {
            $.post('/challenge/2/donate', {
                encPaymentData: payment.encPaymentData,
                encKey: payment.encKey,
            }, function(res) {
                window.location = "/challenge/2"
            });
        });
    });
    V.on("payment.cancel", function(payment)
      {alert(JSON.stringify(payment)); });
    V.on("payment.error", function(payment, error)
      {alert("ERROR " + JSON.stringify(error)); });
  }
  </script>
</head>

<body>
    <div class="header"></div>
    <div class="event-detail-bg">
        <h3>In Progress</h3>
        <h1>Dempesey's Challenge</h1>
        <h5>Goal: 15000 steps every day</h5>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-12 day-block-list">
                        <div class="row">
                            <div class="day-block col-md-12">
                                <div class="row">
                                    <div class="col-md-4 internal-blk day">Day 1</div>
                                    <div class="col-md-4 internal-blk steps">17221 Steps</div>
                                    <div class="col-md-4 internal-blk raised text-right"><span class="dollar">$100</span> Raised</div>
                                </div>
                            </div>
                            <div class="day-block col-md-12">
                                <div class="row">
                                    <div class="col-md-4 internal-blk day">Day 2</div>
                                    <div class="col-md-4 internal-blk steps">17221 Steps</div>
                                    <div class="col-md-4 internal-blk raised text-right">1731 steps needed</div>
                                </div>
                            </div>
                            <div class="day-block col-md-12">
                                <div class="row">
                                    <div class="col-md-4 internal-blk day">Day 3</div>
                                    <div class="col-md-4 internal-blk steps"></div>
                                    <div class="col-md-4 internal-blk raised text-right notstarted">not started</div>
                                </div>
                            </div>
                            <div class="day-block col-md-12">
                                <div class="row">
                                    <div class="col-md-4 internal-blk day">Day 4</div>
                                    <div class="col-md-4 internal-blk steps"></div>
                                    <div class="col-md-4 internal-blk raised text-right notstarted">not started</div>
                                </div>
                            </div>
                            <div class="day-block col-md-12">
                                <div class="row">
                                    <div class="col-md-4 internal-blk day">Day 5</div>
                                    <div class="col-md-4 internal-blk steps"></div>
                                    <div class="col-md-4 internal-blk raised text-right notstarted">not started</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-1 detail-right">
                <div class="row">
                    <div class="col-md-12"><h3>Donations</h3></div>
                    <div class="col-md-6 col-md-offset-3">
                        <div class="btn-group" role="group text-center">
                          <button type="button" class="btn btn-default">$10</button>
                          <button type="button" class="btn btn-default">$20</button>
                          <button type="button" class="btn btn-default">$50</button>
                        </div>
                    </div>
                </div>
                <div class="row detail-donate">
                    <img alt="Visa Checkout" class="v-button" role="button" src="https://sandbox.secure.checkout.visa.com/wallet-services-web/xo/button.png"/>
                </div>
                <div class="row detail-supporter">
                    <h3>Supporter</h3>
                    <div class="row detail-supporter-list">
                        <div class="col-md-3 text-right">
                            <img height="46" class="img-circle" src="http://via.placeholder.com/204x204" />
                        </div>
                        <div class="col-md-9">
                            <p class="detail-supporter-list-title">John Doe</p>
                            <p>Will donate $50</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://sandbox-assets.secure.checkout.visa.com/checkout-widget/resources/js/integration/v1/sdk.js">
    </script>
</body>
</html>
